<div class="card bg-base-100 w-1/2 mx-auto flex flex-col p-6 rouinded-lg shadow-lg">
  <div class="card-title justify-center text-3xl text-primary">Sign up</div>
  <div class="card-body w-full">
    <form #registerForm="ngForm" class="flex flex-col gap-4 w-full" (ngSubmit)="register()">
      <input type="text" name="email"  class="input w-full" [(ngModel)]="creds.email" placeholder="Email">
      <input type="text" name="displayName"  class="input w-full" [(ngModel)]="creds.displayName" placeholder="Display Name">
      <input type="password" name="password"  class="input w-full" [(ngModel)]="creds.password" placeholder="Password">

      <div class="flex items-center gap-3 justify-end">
        <button class="btn" (click)="cancel()" type="button">Cancel</button>
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
